* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  max-width: 1200px;
  // background-color: blue;
  margin: 0 auto;
  // padding: 2rem;
  line-height: 1.5;
}