        // components/Hero/Hero.module.scss
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

        .hero {
            padding: 0;
            position: relative;
            min-height: 100vh; // Add full viewport height
            background-color: #000;
            width: 100vw; // Full viewport width
            margin-left: calc(-50vw + 50%); // Center align hack for full-width elements
            overflow: hidden; // Prevent horizontal scroll  
            color: white;
            font-family: "Inter", serif;

            clip-path: path("M0,0 L100%,0 L100%,80 Q75%,100 50%,80 Q25%,60 0,80 Z");

            &::before,
            &::after {
                content: "";

                position: absolute;
                top: 0;
                width: 20vw; // Adjust width based on design reference
                height: 100%;
                background: radial-gradient(circle, rgba(34, 166, 109, 0.5) 20%, rgba(0, 0, 0, 1) 80%);
                z-index: 1;
                opacity: 0.2; // Adjust opacity for subtle effect
            }

            &::before {
                left: 0;
                bottom: 20%;
            }

            &::after {
                right: 0;
                top: 20%;
            }


            .content {
                max-width: 100%;
                margin: 0 auto;
                position: relative;
                background: transparent;
            }

            .content:before {
                content: "";
                height: 125px;
                width: 100%;
                background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/animation-wave-shadow/images/wave.svg) repeat-x scroll 0 0;
                -webkit-background-size: 1600px 198px;
                -moz-background-size: 1600px 198px;
                -o-background-size: 1600px 198px;
                background-size: 1600px 198px;

                position: absolute;
                left: 0;
                bottom: 0;

                -webkit-filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
                -webkit-filter: drop-shadow(5px -10px 3px rgba(4, 228, 90, 0.2));
                filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
                filter: drop-shadow(5px -10px 3px rgba(4, 228, 90, 0.2));

                -webkit-animation: an-wave 20s linear infinite;
                -moz-animation: an-wave 20s linear infinite;
                -o-animation: an-wave 20s linear infinite;
                animation: an-wave 20s linear infinite;
            }

            .svg-img-block {
                display: none;
            }

            @-webkit-keyframes an-wave {
                100% {
                    background-position-x: -1600px;
                }
            }

            @-moz-keyframes an-wave {
                100% {
                    background-position-x: -1600px;
                }
            }

            @-o-keyframes an-wave {
                100% {
                    background-position-x: -1600px;
                }
            }

            @keyframes an-wave {
                100% {
                    background-position-x: -1600px;
                }
            }

            .logoHead {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;

                .logo {
                    margin-left: -2%;
                    width: 17%;
                }

                .contactButton {
                    display: block;
                    margin: 1rem auto 0;
                    height: 2%;
                    margin-left: 70%;
                    padding: 1rem 1.5rem;
                    background: #2D975A;
                    color: white;
                    border: 1px solid #2D975A;
                    border-radius: 10px;
                    font-size: 1.1rem;
                    font-weight: 400;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background: #333;
                        color: white;
                    }
                }
            }

            .headingGroup {
                margin-bottom: 4rem;
                text-align: center;
            }

            .mainHeading {
                font-size: 3.5rem;
                font-weight: 700;
                margin-bottom: 2rem;
                display: flex;
                justify-content: center;
                gap: 0.95rem;
                flex-wrap: wrap;
                font-family: "Inter", serif;
                margin-right: 3%;

                .visualize {
                    color: green;
                }

                .dotFirst {
                    color: green;
                    margin: 0 -0.5rem;
                }

                .Design {
                    color: blue;
                }

                .dotSecond {
                    color: blue;
                    margin: 0 -0.5rem;
                }

                .dot {
                    // color: #666;
                    margin: 0 -0.5rem;

                }

                .Deliver {
                    color: orangered;
                    margin: 0 -0.5rem;
                }
            }

            .subtext {
                font-size: 19px;
                font-weight: 400;
                color: #666;
                line-height: 30px;
                max-width: 800px;
                margin: 0 auto;
            }

            .gridContainer {
                display: flex;
                justify-content: center;
                width: 100%;
                overflow: hidden;
                position: relative;
                // grid-template-columns: repeat(3, 1fr);
                // gap: 0.2rem;
                margin: 4rem 0;
                text-align: center;





                .leftSide {
                    // grid-column: 1;
                    font-size: 1.5rem;

                    .leftTextBreak {
                        // margin-bottom: 20%;
                        position: absolute;
                        top: 20%;
                        left: 20%;

                        // .firstPart {

                        //     // margin-right: 10%;
                        // }

                        .secondPart {
                            padding-left: 3rem;
                        }
                    }

                    .leftTextBreak:hover {
                        color: #2D975A;
                    }

                    .leftTextBreak2 {
                        position: absolute;
                        bottom: 20%;
                        left: 20%;
                        // margin-top: 5%;
                        font-size: 1.2rem;


                        // .firstPart {
                        //     // margin-right: 5%;

                        // }
                        .secondPart {
                            padding-left: 3rem;
                        }
                    }

                    .leftTextBreak2:hover {
                        color: #2D975A;
                    }
                }

                .centerItem {
                    // grid-column: 2;
                    margin-top: 0;
                    height: 350px;
                }

                .rightSide {
                    // grid-column: 3;
                    font-size: 1.5rem;

                    .rightTextBreak {
                        position: absolute;
                        top: 20%;
                        right: 18%;

                        p:nth-child(1) {
                            padding-left: 7rem;
                        }

                    }

                    .rightTextBreak:hover {
                        color: #2D975A;
                    }

                    .rightTextBreak2 {
                        position: absolute;
                        bottom: 20%;
                        right: 18%;

                        span:nth-child(1) {
                            padding-left: 5rem;
                        }
                    }

                    .rightTextBreak2:hover {
                        color: #2D975A;
                    }
                }


                // &::before {
                //     content: '';
                //     position: absolute;
                //     top: -2rem;
                //     left: 0;
                //     right: 0;
                //     height: 1px;
                //     background: #eee;
                // }
            }

            // .gridColumn {
            // padding: 2rem;
            // border: 1px solid #eee;
            // border-radius: 8px;
            // transition: transform 0.3s ease;

            // &:hover {
            //     transform: translateY(-5px);
            // }
            // }
.hiringButtonContainer{
    padding-bottom: 13rem;
            .hiringButton {
                display: block;
                margin: 0 auto 0;
                // padding: 1rem 2.5rem;
                // padding-bottom: 9rem;
                background: transparent;
                border: none;
                border-radius: 50px;
                font-size: 1.1rem;
                font-weight: 500;
                cursor: pointer;
                color: white;
                transition: all 0.3s ease;



                &:hover {
                    background: #333;
                    color: white;
                }


            }
        }
            @media (max-width: 768px) {
                .mainHeading {
                    font-size: 2rem;
                    gap: 0.5rem;
                }

                .textBreak {
                    display: flex;
                    flex-direction: column;


                    .firstPart {
                        margin-right: 2%;
                    }

                    .secondPart {
                        margin-left: 2%;
                    }
                }

                .gridContainer {
                    grid-template-columns: 1fr;


                    .largeText {
                        font-size: 2rem;
                        display: flex;
                        flex-direction: column;

                    }
                }

            }
        }